.chat-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: calc(var(--padding) / 2) calc(var(--padding) * 5) calc(var(--padding) / 2) calc(var(--padding) *2);
}

.chat-container:hover {
    background-color: var(--primary-color);
}

.chat-container .info-container {
    flex: 1;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.chat-container .info-container .name-time-container {
    display: flex;
    justify-content: space-between;
    color: var(--last-msg-color);
}

.chat-container .image-container img {
    border-radius: 50%;
    width: var(--image-dim);
    height: var(--image-dim);
}

.chat-container .name-container {
    color: var(--font-color);
    font-size: var(--text-font-size);
}

.chat-container .time-container {
    color: var(--last-msg-color);
    font-size: var(--text-font-size);
}

.chat-container .last-message-container {
    color: var(--last-msg-color);
    font-size: var(--text-font-size);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: inherit;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-break: break-all;
}

.chat-container .last-message-container-rtl {
    direction: rtl;
    text-align: right;
}