.friend-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
}

.friend-container:hover {
    background-color: var(--primary-color);
}

.friend-container .info-container {
    flex: 1;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.friend-container .image-container img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.friend-container .name-container {
    display: flex;
    width: 100%;
    color: silver;
    font-size: 20px;
    font-weight: 500;
}

.friend-container .last-message-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: rgb(131, 131, 131);
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: inherit;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.friend-container .last-message-container-rtl {
    direction: rtl;
    text-align: right;
}

@keyframes smooth {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}