.chat-container {
    display: flex;
    gap: 15px;
    cursor: pointer;
    padding-left: calc(var(--padding) *2);
    position: relative;
    min-height: 100px;
}

.chat-container .alert-dot {
    position: absolute;
    height: 20px;
    width:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #24d31b;
    color: var(--font-color);
    font-size: 14px;
    right:40px;
    bottom: 24px;
}

.chat-container:hover {
    background-color: var(--primary-color);
}

.chat-container .info-container {
    min-height: 100%;
    padding-right: calc(var(--padding) * 4);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    border-top: 1px solid #4a4a4a;
}

.chat-container .info-container .name-time-container {
    display: flex;
    justify-content: space-between;
    color: var(--last-msg-color);
}

.chat-container .image-container img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.chat-container .image-container {
    align-self: center;
}

.chat-container .name-container {
    color: var(--font-color);
    font-size: var(--text-font-size);
}

.chat-container .time-container {
    color: var(--last-msg-color);
    font-size: var(--text-font-size);
}

.chat-container .last-message-container {
    color: var(--last-msg-color);
    font-size: var(--text-font-size);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: inherit;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-break: break-all;
    padding-right: 25px;
}

.chat-container .last-message-container-rtl {
    direction: rtl;
    text-align: right;
}