.friend-req-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: calc(var(--padding) / 2) calc(var(--padding) *2) calc(var(--padding)) calc(var(--padding));
    cursor: pointer;
}

.friend-req-item:hover {
    background-color: var(--primary-color);
}

.friend-req-item .image img {
    width: var(--image-dim);
    height: var(--image-dim);
    border-radius: 50%;
}

.friend-req-item .name {
    font-size: 20px;
    color: #ddd;
}

.friend-req-item .actions {
    display: flex;
    gap: 20px;
}

.friend-req-item .button {
    border: 0px;
    width: 100px;
    height: 30px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
}


.friend-req-item .confirm-btn {
    background-color: dodgerblue;
    color: white;

}

.friend-req-item .delete-btn {
    background-color: rgb(255, 255, 255);
    color: var(--secondary-color);

}