.friend-req-item {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px 10px;
    animation: smooth 0.2s linear 1 normal forwards;
}

.friend-req-item .image img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.friend-req-item .name {
    font-size: 20px;
    color: #ddd;
}

.friend-req-item .actions {
    display: flex;
    gap: 20px;
}

.friend-req-item .button {
    border: 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}


.friend-req-item .confirm-btn {
    background-color: dodgerblue;
    color: white;

}

.friend-req-item .confirm-btn:hover {
    background-color: rgb(25, 114, 204);
}

.friend-req-item .delete-btn:hover {
    background-color: rgb(207, 207, 207);
}