.message-container {
    min-height: 30px;
    display: flex;
    gap: 30px;
    width: fit-content;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    /* Prevent flex items from shrinking */

}


.message-container.my-message {
    align-self: flex-end;
}

.message-container.his-message {
    align-self: flex-start;
}

.message-container .image-container img {
    width: var(--image-dim);
    height: var(--image-dim);
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 5px;
}

.message-container .message-body {
    width: fit-content;
    max-width: 600px;
    word-wrap: break-word;
    /* For legacy support */
    overflow-wrap: break-word;
    /* Standard property */
    white-space: pre-wrap;    /* Ensures long strings break properly */
    color: var(--font-color);
    font-size: var(--text-font-size);
    font-weight: 400;
    padding: calc(var(--padding) *1.5);
    position: relative;
}


.message-container .message-body .message-date {
    color: var(--msg-time-color);
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: -20px;
    min-width: 60px;
}

.message-container .message-body .my-message-date {
    right: 2px;
}

.message-container .message-body .his-message-date {
    left: 2px;
}

.message-container .message-body-rtl {
    text-align: end;
}

.message-container.my-message .message-body {
    background: #7F00FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8d059f, #7F00FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8d059f, #7F00FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: calc(var(--border-radius) *3);
    border-bottom-right-radius: 0px;
}

.message-container.his-message .message-body {
    background-color: #4A545C;
    border-radius: calc(var(--border-radius) *2);
    border-bottom-left-radius: 0px;
}