.explore-container {
    flex: 1;
    background-color: #2B2D31;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    max-height: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #313338;
}

.header .profile img {
    width: 50px;
    height: 50px;
}

.header .notification .notification-icon {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    color: silver;
    position: relative;
}

.header .notification-dot {
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(196, 22, 22);
    color: rgb(255, 255, 255);
    font-size: 14px;
    top: 10px;
    right: 37px;
}

.header .notification-container {
    position: absolute;
    height: 600px;
    min-width: 350px;
    background-color: #232425;
    right: 50px;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.header .notification-container .title {
    color: #ddd;
    font-size: 20x;
    font-weight: 500;
    text-align: start;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.header .notification .notification-icon:hover {
    transform: scale(1.2);
}

.explore-container .explore-elements-container {
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.explore-container .search-bar {}

.explore-container .search-bar input {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #383A40;
    color: #B5BAC1;
    border-radius: 10px;
    border: 0;
    padding: 0px 15px;
    font-size: 18px;
}

.chat-container {
    flex: 3.25;
    background-color: #313338;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;

}

.friends-container {
    flex: 1;
    background-color: #2B2D31;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.chat-container .input-container {
    width: 100%;
    padding: 0px 40px 30px;
    position: relative;
    flex: 0.25;
}

.chat-container .input-container .text-container {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    padding: 0px 60px 0px 20px;
    color: #B5BAC1;
    border-radius: 10px;
    background-color: #383A40;
    border: 0;
    font-size: 18px;
}

.chat-container .input-container .text-input-rtl {
    direction: rtl;
    text-align: right;
}


.chat-container .emoji-icon {
    position: absolute;
    right: 60px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;


}

.chat-container .emoji-icon-leave {
    opacity: 0.3;


}

.chat-container .emoji-icon:hover {
    transform: scale(1.2);
}

.chat-container .emoji-picker {
    position: absolute;
    right: 5%;
    bottom: 120%;
}

.chat-container .messages-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
    width: 100%;
    padding: 40px;
    flex: 10;
    overflow-y: auto;
}

.chat-container .messages-container::after {
    content: '';
    flex-shrink: 0;
    height: 40px;
    /* This should match your padding value */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #464848;
}

::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    /* background: linear-gradient(to bottom, #c33764, #1d2671); */
    border-radius: 10px;
}