.notification-container {
    flex: 1;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    box-sizing: border-box;
}

.notification-container .title {
    color: var(--font-color);
    font-size: var(--text-font-size);
    font-weight: 300;
    text-align: start;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}