@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-color: #181C1F;
  --secondary-color: #1F272B;
  --input-color: #1F272B;
  --text-padding: 0px 60px 0px 20px;
  --border-radius: 5px;
  --text-font-size: 18px;
  --font-color: white;
  --icon-color: white;
  --padding: 10px;
  --image-dim: 50px;
  --last-msg-color: rgb(131, 131, 131);
  --msg-time-color: #a6a6a7;
  --msg-input-height: 55px;
  --msg-margin: 30px;
  --icon-dim:40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
}

input:focus {
  outline: none;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #464848;
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  /* background: linear-gradient(to bottom, #c33764, #1d2671); */
  border-radius: 10px;
}


@keyframes smooth {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}