.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #181C1F;
    flex: 0.1;
}

.header .options .profile-picture {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header .options {
    position: relative;
}

.header .options .options-container {
    width: 300px;
    border-radius: var(--border-radius);
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
    bottom: 50px;
    right: 20px;
}

.header .options .option {
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    transition: all 0.3s;
    cursor: pointer;
}

.header .options .view-profile-opt {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .options .option:hover {
    background-color: var(--primary-color);
}

.header .options .option p {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.header .options .option .icon {
    width: 30px;
    height: 30px;
    color: var(--icon-color);
}

.header .options img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header .notification .notification-icon {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    color: var(--icon-color);
    position: relative;
}

.header .notification-dot {
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--secondary-color);
    color: var(--font-color);
    font-size: 14px;
    top: 5px;
}

.header .notification-container {
    position: absolute;
    height: 600px;
    min-width: 350px;
    background-color: #232425;
    right: 50px;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.header .notification-container .title {
    color: #ddd;
    font-size: 20x;
    font-weight: 500;
    text-align: start;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.header .notification .notification-icon:hover {
    transform: scale(1.2);
}