.chats-container {
    flex: 1;
    background-color: var(--secondary-color);
    padding: var(--padding);
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}