.hint-container {
    color: white;
    font-weight: 500;
    width: fit-content;
    padding: 10px;
    position: absolute;
    right: -200px;
    bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(207, 113, 113);
    border-radius: 10px 10px 0px 10px;
    transition: transform 0.4s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

.hint-container.visible{
    transform: translateX(-250px);
}